var unit = function (d) {
  // return d.replace('%','');
  return encodeURIComponent(d);
}
var decodeUnit = function (d) {
  // return d.replace('%','');
  return decodeURIComponent(d);
}
var bigPic = function (d) {
  // return d.replace('%','');
  return d?d.replace('_crop_center.jpg',''):'';
}

var state = function (n, max, min) {
  if(!max || !min){
    return "正常"
  }
  if (n > max) {
    return "上限超标"
  } else if (n < min) {
    return "下限超标"
  } else {
    return "正常"
  }
}
var stateCls = function (n, max, min) {
  if (!max || !min) {
    return "status-success"
  }
  if (n > max || n < min) {
    return "status-error"
  } else {
    return "status-success"
  }
}

module.exports = {
  unit: unit,
  decodeUnit:decodeUnit,
  state: state,
  stateCls: stateCls,
  bigPic:bigPic
};